#{{#info}}{{title}}


## {{join schemes " | "}}://{{host}}{{basePath}}


{{description}}

{{#contact}}
[**Contact the developer**](mailto:{{email}})
{{/contact}}

**Version** {{version}}

[**Terms of Service**]({{termsOfService}})

{{#license}}[**{{name}}**]({{url}}){{/license}}

{{/info}}

On peut ici mettre des infos génériques sur les APIs

# Authentication

You can authenticate through API by sending your API key in a header:

    curl -H "Authorization: 123456" https://[HOSTNAME]/api/[API-URL]

# Request Content-Type

You can choose between json or xml format.

Use Content-Type Header to set the request content type.

    curl -H "Content-Type: application/json" https://[HOSTNAME]/api/[API-URL]

Accepted values are

- application/json
- application/xml
- multipart/form-data_(Allow to send file and form data. See the cURL samples at the end of this page)_

{{#if securityDefinitions}}
# Security Definitions
{{/if}}
{{> security}}

# APIs

<div class="list-group table-of-contents">
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Method</th>
            <th>URL</th>
            <th>Description</th>
            <th>S</th>
            <th>O</th>
        </tr>
        </thead>

        <tbody>
        {{#each paths}}
            {{#this}}
                {{#get}}
                    {{> summary-line that=get method='GET' path=@key}}
                {{/get}}

                {{#post}}
                    {{> summary-line that=post method='POST' path=@key}}
                {{/post}}

                {{#put}}
                    {{> summary-line that=put method='PUT' path=@key}}
                {{/put}}

            {{/this}}
        {{/each}}
        </tbody>
    </table>

</div>


{{#each paths}}
{{#this}}
{{#get}}
## GET {{@key}}
{{> operation}}
{{/get}}

{{#put}}
## PUT {{@key}}
{{> operation}}
{{/put}}

{{#post}}
## POST {{@key}}
{{> operation}}
{{/post}}

{{#delete}}
## DELETE {{@key}}
{{> operation}}
{{/delete}}

{{/this}}
{{/each}}

# Definitions
{{#each definitions}}
## <a name="/definitions/{{key}}">{{@key}}</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>description</th>
        <th>example</th>
    </tr>
    {{#each this.properties}}
        <tr>
            <td>{{@key}}
                {{#if vendorExtensions.x-deprecated}}<span style="color:red">DEPRECATED</span> {{/if}}</td>
            <td>
                {{#ifeq type "array"}}
                    {{#items.$ref}}
                        {{type}}[<a href="{{items.$ref}}">{{basename items.$ref}}</a>]
                    {{/items.$ref}}
                    {{^items.$ref}}{{type}}[{{items.type}}]{{/items.$ref}}

                {{else}}
                    {{!-- not primitive type --}}
                    {{#$ref}}<a href="{{$ref}}">{{basename $ref}}</a>{{/$ref}}
                    {{!-- primitive type --}}
                    {{^$ref}}{{type}}
                        {{#format}} ({{format}}){{/format}}
                        {{#if enum}}- Value must be in: {{join enum ", "}}{{/if}}
                    {{/$ref}}
                {{/ifeq}}
            </td>
            <td>{{#required}}required{{/required}}{{^required}}optional{{/required}}</td>
            <td>{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}</td>
            <td>{{example}}</td>
        </tr>
    {{/each}}
</table>
{{/each}}

