<div class="snippet-wrapper">
    <a class="btn btn-primary" data-toggle="collapse" href="#{{basename this}}-{{operationId}}">{{this}}</a>

    <div class="snippet collapse" id="{{basename this}}-{{operationId}}" data-operationId="{{operationId}}"
         data-type="{{this}}" data-io="response" data-hide-on-load-error=".snippet-wrapper">json
        response
    </div>

</div>

