
<a class="btn btn-primary" data-toggle="collapse" href="#{{basename this}}-{{operationId}}">{{this}}</a>

<div class="example collapse" id="{{basename this}}-{{operationId}}" data-operationId="{{operationId}}"
     data-type="{{this}}" data-io="response">json response</div>