<tr>
    <td>{{that.vendorExtensions.x-api-code}}</td>
    <td>{{method}}</td>
    <td><a href="#{{that.operationId}}">{{path}}</a></td>
    <td>{{that.summary}}</td>
    <td>{{#each that.tags}}{{#ifeq this 'shop'}}S{{/ifeq}}{{/each}}</td>
    <td></td>
</tr>
